<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="TestChrome">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="com.Runner.org.TestngTest" />
			<parameter name="url" value="https://www.facebook.com/"></parameter>
			<parameter name="email" value="abc@gamil.com"></parameter>
			<parameter name="password" value="123456"></parameter>
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
